<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Film</h1>
	<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>
	<ul>
		
		<form th:action="@{/guest/searchMoviesName}" method="post">
			<div>Cerca per nome: <input type="text" th:value="${title}" name="title" />
			<input type="submit" />
			</div>
		</form>
		
		<div style='margin-top:50px;'/>
		
		<li th:each="movie : ${movies}">
			<a th:href="@{'/guest/movie' + '/' + ${movie.id}}"
				th:text="${movie.title} + ' (' + ${movie.year} + ')'"></a>
		</li>
	</ul>
</body>

</html>